{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
</head>
<body>
<h1>- Learning -</h1>

    <textarea style="width: 80%;" id="test"></textarea>
    <input id="word" name="" type="hidden" value="">
    <input id="present" name="present" type="hidden" value="">
    <audio id="audio"><source id="present_source" src="" type="audio/mpeg"></audio>
    <input type="text" style="width: 80%;" id="input" onkeyup="verify()" placeholder="Search for names.." title="Type in a name">

    <button id="load" onclick="next_verb()" >load</button>
    <button id="show" onclick="show_word()">Show hidden fields</button>
    <button id="learned"  onclick="learned_word()" >learned</button>

</body>

<script src="{% static 'eg/js/jquery-3.1.1.min.js' %}"></script>
<script>

    function show_word(){
      alert($('#word').val());
    }


    function next_verb(){
      $.ajax({
        type: 'GET',
        url: 'next_verb',
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {

           $('#word').val(data.present.verb);
           $('#present').val(data.present.verb);
           $("#word").attr('name', 'present');
           $('#test').val(data.present.verb);

        }
      });
    }


    function get_past(){
      $.ajax({
        type: 'GET',
        url: 'get_past/'+$('#present').val(),
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {

           $('#word').val(data.past.verb);
           $("#word").attr('name', 'past');
           $('#test').val(data.past.verb);

        }
      });
    }


    function get_past_participle(){
      $.ajax({
        type: 'GET',
        url: 'get_past/participle/'+$('#present').val(),
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {

           $('#word').val(data.past_participle.verb);
           $("#word").attr('name', 'past_participle');
           $('#test').val(data.past_participle.verb);

        }
      });
    }

    var sentence_number = 0;
    function get_sentence(sentence_number_){
      sentence_number = sentence_number_;
      $.ajax({
        type: 'GET',
        url: 'get_sentence/'+sentence_number+'/'+$('#present').val(),
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {


           $('#word').val(data.sentence);
           $("#word").attr('name', 'sentence');
           $('#test').val(data.sentence);

           sentence_number--;

        }
      });
    }


    function get_sentence_number(){
      $.ajax({
        type: 'GET',
        url: 'get_sentence_number/'+$('#present').val(),
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {

           if( data.sentence_number == 0 ){
             repetition();
             next_verb();

           } else if( data.sentence_number > 0 ){
             get_sentence(data.sentence_number);

           }

        }
      });
    }


    function learned_word(){
      $.ajax({
        type: 'GET',
        url: 'learned_word/'+$('#present').val(),
        dataType: 'json',
        data:{},
        async: false,
        success: function (data) {
        }
      });
    }


    var repetitions = 1;
    function repetition(){
        if({{repetitions}} == repetitions ){
            learned_word();
            repetitions=1;
        } else {
            repetitions++;
        }

    }


    function verify(){
       if( $('#word').val().toLowerCase() == $('#input').val().toLowerCase() && $('#input').val().toLowerCase() != ''){

           if( $("#word").attr('name') == 'present' ){
             get_past();

           } else if( $("#word").attr('name') == 'past' ){
             get_past_participle();

           } else if( $("#word").attr('name') == 'past_participle' ){
             get_sentence_number();

           } else if( $("#word").attr('name') == 'sentence' ){

                if( sentence_number == 0 ){
                  repetition();
                  next_verb();
                } else if( sentence_number > 0 ){
                  get_sentence(sentence_number);
                }

           }
           $('#input').val('');

       }
    }


</script>

</html>