{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>- English -</h1>

   <textarea id="tes"></textarea>

    <audio id="present_audio"><source id="present_source" src="" type="audio/mpeg"></audio>
    <audio id="past_audio"><source id="past_source" src="" type="audio/mpeg"></audio>
    <audio id="past_participle_audio"><source id="past_participle_source" src="" type="audio/mpeg"></audio>
    <audio id="sentence_audio"><source id="sentence_source" src="" type="audio/mpeg"></audio>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <button id="load">load</button>
    <button id="show">Show hidden fields</button>

    <input id="pivot" name="" type="hidden" value="0">


    <input id="present" name="" type="hidden" value="">
    <input id="category" name="" type="hidden" value="">
    <input id="past" name="" type="hidden" value="">
    <input id="past_participle" name="" type="hidden" value="">
    <input id="sentence" name="" type="hidden" value="">



    <input id="group" name="" type="hidden" value="">

    <input id="finished_routine" name="" type="hidden" value="">

</body>



<script src="{% static 'eg/js/jquery-3.1.1.min.js' %}"></script>
<script>

    var iteration = 0;
    var number_sentence = 0;
    var number_sentence_pivot = 1;
    $("#load").click(function(){
       if($('#finished_routine').val() != 'true'){
           next_verb();
       } else {
           alert('Haz finalizado la rutina ');
       }

    });


    $("#show").click(function(){
        alert($('#present').val());
    });

    function next_verb(){
      $.ajax({
        type: 'GET',
        url: 'next_verb',
        dataType: 'json',
        data:{'iteration': iteration,
              'learned_word': $('#present').val(),
              'category': $('#category').val()
             },
        success: function (data) {

          number_sentence = data.number_sentence;

          $('#category').val(data.present.category);
          $('#present').val(data.present.verb);
          $("#present_source").attr("src", data.present.audio).detach().appendTo("#present_audio");
          var x = document.getElementById("present_audio");
          x.play();

          $('#past').val(data.past.verb);
          $("#past_source").attr("src", data.past.audio).detach().appendTo("#past_audio");

          $('#past_participle').val(data.past_participle.verb);
          $("#past_participle_source").attr("src", data.past_participle.audio).detach().appendTo("#past_participle_audio");

          $('#tes').val(data.present.verb + ' : ' + data.past.verb + ' : ' + data.past_participle.verb );


        }
      });
    }


    function next_sentence(){
      $.ajax({
        type: 'GET',
        url: 'next_sentence',
        dataType: 'json',
        data:{'present': $('#present').val(),
              'number_sentence_pivot': number_sentence_pivot,
              'number_sentence': number_sentence,
             },
        success: function (data) {
            $('#tes').val(data.sentence);

            if(number_sentence_pivot < number_sentence){
               number_sentence_pivot ++;
            } else {
              $('#pivot').val('0');
               number_sentence_pivot = 0;

                    if(iteration == 1){
                      next_verb();
                      iteration = 0;
                    } else {
                      iteration ++;
                      alert(iteration);
                    }

         }}
      });
    }


    function myFunction() {
        var input, verb;
        input = document.getElementById("myInput");
        verb = document.getElementById("present");
        past = document.getElementById("past");
        past_participle = document.getElementById("past_participle");
        sentence = document.getElementById("sentence");

        pivot = document.getElementById("pivot");

            if( pivot.value == '0' && input.value.toUpperCase() == verb.value.toUpperCase() && input.value.toUpperCase() != ''){
                $('#pivot').val('1');
                $('#myInput').val('');
                var x = document.getElementById("past_audio");
                x.play();
            }

            if( pivot.value == '1' && input.value.toUpperCase() == past.value.toUpperCase() && input.value.toUpperCase() != ''){
                $('#pivot').val('2');
                $('#myInput').val('');
                var x = document.getElementById("past_participle_audio");
                x.play();
            }

            if( pivot.value == '2' && input.value.toUpperCase() == past_participle.value.toUpperCase() && input.value.toUpperCase() != ''){
                $('#myInput').val('');

                if(number_sentence == 0){
                  $('#pivot').val('0');

                   if(iteration == 1){
                     next_verb();
                     iteration = 0;
                   } else {
                     iteration ++;
                     alert(iteration);
                   }

                } else {
                  $('#pivot').val('3');
                }

            }

            if( pivot.value == '3' && input.value.toUpperCase() == sentence.value.toUpperCase() ){
                $('#myInput').val('');
                next_sentence();
            }

    }
</script>

</html>